<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sport.want">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_mini"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon_mini"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".Activity.TestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginMainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="true"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.WebviewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="user"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.FormActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="true"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.AccountLinkActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.MemberDataActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.LinksettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.ModifyPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.HowtoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="InnerclassSeparator">
        </activity>
        <activity
            android:name=".Activity.Howto2Activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            tools:ignore="InnerclassSeparator">
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>

</manifest>